@import 'bootstrap_custom';
@import 'admin-lte/dist/css/adminlte';

.main-sidebar {
  li.nav-item {
    width: 100%;
    a {
      text-overflow: ellipsis;
    }
  }
}

.admin-posts-index-page {
  table {
    a, button {
      margin: 0 5px;
    }
  }
}

.admin-posts-edit-page {
  .submit {
    margin: 8px 0;
  }
}
