@import 'bootstrap_custom';
@import 'admin-lte/dist/css/adminlte';

.main-sidebar {
  li.nav-item {
    width: 100%;
    a {
      text-overflow: ellipsis;
    }
  }
}

table {
  a, button {
    margin: 0 5px;
  }
}

.admin-posts-index-page {

}

.admin-posts-edit-page {
  .submit {
    margin: 8px 0;
  }
}

.ops-dev {
  margin: 10px 0;
}

.admin-categories-edit-page {
  .form-dev {
    width: 300px;
    margin-left: 10px;
  }
}