@import 'bootstrap_custom';

@import 'home';
@import 'spide';

.hide {
  display: none;
}

.ops-dev {
  margin: 10px 0;
}

.btn, .btn-sm {
  margin: 0 6px;
}

.right {
  border-left: 1px solid lightgray;
  min-height: 200px;
  .keep-space {
    margin-top: 50px;
  }
}

.post-show-page {
  .editSection {
    text-align: left;
    img {
      max-width: 90%;
    }
  }
}